doctype html 
html 
  head 
    title Sid Dance Academy 
    block scripts 
    block style 

  body
    nav#navbar
      div#logo
        img(src="/static/logo1.png", alt="")
      ul
         
        li #[a(href="/") Home ]  
        li #[a(href="/info") About ]
        li #[a(href="/class") Dance Classes] 
        li #[a(href="/contact") Register Now]

    block content 
    section#footer 
      div#foot  
        h4 Copyright:2022@sidDanceAcademy.Com |All Rights Reserved  