extends base.pug

block scripts 
  script (src="/static/index.js")

block style 
  style 
    include ../static/style.css  
    include ../static/class.css
block content 
  div#classcontainer
    div.class1
      div#bhangra
        
          
        div#bhangraimg
         

        div#bhangrades
          p An energetic Punjabi dance, bhangra originated with Punjab farmers as a cultural and communal celebration; its modern-day evolution has allowed bhangra to retain its traditional Punjabi roots, while broadening its reach to include integration into popular music and DJing, group-based competitions, and even exercise
          p Join us to express your adrenaline and participate in bhangra dance competition or wedding dance so
           a(href="/contact")  join us.
      div#hiphop 
        div#hiphopimg
          

        div#hiphopdes
          p Hip-hop dance is a vibrant form of dance that combines a variety of freestyle movements to create a cultural piece of art. Through its three main styles of popping, locking, and breaking, hip-hop dance has evolved into one of the most popular and influential styles of dance.
          p  Join us to let  you down in hip hop rhythm.
          a(href="/contact") join us. 


    div.class2
      div#bharatnatyam
        div#bharatnatyamimg  
        div#bharatnatyamdes 
          p Bharatanatyam (Tamil: பரதநாட்டியம்) is a major form of Indian classical dance that originated in Tamil Nadu. It is one of the eight widely recognized Indian classical dance forms, and expresses South Indian religious themes and spiritual ideas, particularly of Shaivism and in general of Hinduism.
          p Let be more classical  with bharatnatyam so 
           a(href="/contact") join us.
      div#indianwedding
        div#weddingimg 

        div#weddingdes
          p There is no need to explain something about indian wedding dances because there is nobody who don't know about indian wedding dance.We all performed in our brother's wedding ,sister's weddding,friend's wedding or any other relative's weddding.
          p There is only need to join our academy to learn indian wedding dance and impress all friends, parents,relatives with your dance performance.
          a(href="/contact") join us.

