extends base.pug

block scripts 
  script (src="/static/index.js")

block style 
  style 
    include ../static/style.css  
    include ../static/about.css 

   
block content 
  div.info 
    div#owner 
      div#ownerimg 
      div#ownerdes 
        p Introducing the Sid Dance Academy, owned and operated by Sachin kumar siddhu. Sachin has been a professional dancer for over 20 years, and has a passion for sharing his love of dance with others. He opened the Sid Dance Academy with the goal of providing high-quality dance instruction to students of all ages and skill levels.
      
    div#academy 
        p  Our academy is dedicated to providing top-notch dance instruction to students of all ages and skill levels. We offer a wide range of dance styles, including bhangra, bharatnatyam, hip-hop and indian wedding. Our experienced and professional instructors are committed to helping each student reach their full potential, whether they are a beginner or an advanced dancer. We also have a state-of-the-art facility that includes multiple dance studios, a spacious lobby, and ample parking. Come join us and discover the joy of dance at the XYZ Dance Academy!
        p Come join us and discover the joy of dance at the Sid Dance Academy. With Sachin's experience, dedication, and passion for dance, you can be sure that you're in good hands.