doctype html 
html 
  head 
    title Sid Dance Academy 
    block scripts 
     
    block style 
      style 
         include ../static/final.css 

  body
    div.submit 
      div.c1 
        p Thankyou 
      div.c2 
         p To be a part of our family.     
      div.c3 
         p Get ready 
      div.c4 
         p To impress your friends and family with you performance.         
           
         
       
