h1{
    text-align: center;
    margin: 15px 0;

}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myInput{
    width: 420px;
    margin: 8px;
    height: 44px;
    border: 3px dotted black;
    border-radius: 5px;
    outline: none;
}
.btn{cursor: pointer;
    font-size: 20px;
    border: 2px solid black;
    background: black;
    color: wheat;
    margin-bottom: 29px;
    margin-top: 8px;
    padding: 10px 10px;
    border-radius: 15px;


}